.details {
  max-width: 600px;
  margin: auto;
  margin-top: 7rem;
  padding: 20px;
  background-color: rgb(159, 154, 154);
  border: 1px solid #000;
  border-radius: 10px;
  box-shadow: 7px 7px 8px rgba(0, 0, 0, 0.4);
}

.details h1 {
  font-size: 4em;
  margin-bottom: 20px;
}

.detailItem {
  font-size: 1.2em;
  margin-bottom: 10px;
}
